# GitHub Container Registry
GITHUB_OWNER=votre-org-github
REPO_NAME=isb-cicd

# Environnement
APP_ENV=dev

# Dev server SSH (optionnel, utilisé par le pipeline)
# DEV_SERVER_HOST=192.168.1.x
# DEV_SERVER_USER=ubuntu
# DEV_SERVER_SSH_KEY=chemin/vers/la/cle
