# Woodpecker host (public URL)
WOODPECKER_HOST=http://10.198.0.141:8888

# GitHub OAuth App credentials
GITHUB_CLIENT_ID=votre_client_id
GITHUB_CLIENT_SECRET=votre_client_secret

# Secret partagé entre server et agent (generer avec: openssl rand -hex 32)
WOODPECKER_AGENT_SECRET=votre_secret

# Admin GitHub username
WOODPECKER_ADMIN=jeanmiii

# Nombre max de pipelines en parallèle
WOODPECKER_MAX_WORKFLOWS=2

# Options du serveur
WOODPECKER_SERVER_ADDR=:80
WOODPECKER_GRPC_ADDR=:9000
WOODPECKER_OPEN=false

# Connexion agent → server
WOODPECKER_SERVER=woodpecker-server:9000
